* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .input-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}

.form .input-item label {
  flex: 1;
  text-align: left;
}

.form .input-item input {
  flex: 2;
}

button {
  border: 0;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
}

button.primary {
  background-color: skyblue;
}

.alert {
  width: calc(100% - 12px);
  padding: 16px;
  background-color: lightgray;
  border: 1px solid black;
  margin: 6px;
}

.alert.alert-success {
  background-color: rgb(112, 219, 85);
}

.alert.alert-error {
  background-color: #ffb1b1;
  color: rgb(112, 0, 0);
}

.user-info-bar {
  display: flex;
  background-color: rgb(131, 131, 131);
  border: 1px solid rgb(41, 41, 41);
  height: 30px;
  align-items: center;
  padding: 0 24px;
  justify-content: flex-end;
}

.user-info-bar-text {
  margin-left: 16px;
}

.panel {
  border: 1px solid darkgray;
  border-radius: 4px;
  margin: 8px;
  padding: 16px;
  box-shadow: 1px 2px lightgray;
}
